@model IEnumerable<MVCCRUD2.Models.Encuesta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEncuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionEncuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEncuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionEncuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EncuestaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EncuestaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EncuestaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
